:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --text-color: #fff;
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --accent3-color: #ffff08;
    --third-color: #3a3939;
    --back-color: #a3a1a1;
    --border-color: #777676;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--accent1-color);
}

header,
main,
footer {
    display: grid;
    width: 1470px;
    margin: 0 auto;
    margin-bottom: 15px;
}

header {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: var(--third-color);
    margin-top: 15px;
}

main {
    grid-template-columns: 1fr;
}

header img {
    align-self: center;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin-top: 15px;
    padding: 0;
}

p {
    color: #000;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin: 0;
}

.socialmedia a {
    text-decoration: none;
    padding: 10px;
}

.hero {
    display: flex;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--text-color);
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    top: 41%;
    margin: 2rem;
    padding: 0 10px;
    background-color: var(--secondary-color);
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 1em;
}

section h2 {
    background-color: var(--accent2-color);
    text-align: center;
    padding: 10px;
    color: var(--primary-color);
}

footer {
    border-top: solid #3a3939 0.1px;
    background-color: var(--third-color);
    grid-template-columns: 1fr 500px;
    color: var(--text-color);
    margin-top: 0;
    align-items: center;
}

footer p {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: right;
    color: var(--text-color);
}

.grid nav {
    margin: 0 auto;
    padding: 0;
}

.grid nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.grid nav li {
    margin: 0;
    flex: 1 1 auto;
    text-align: center;
    padding: 1rem 3rem;
    border: 1px solid #000;
}

.grid nav li a {
    text-decoration: none;
    color: #000;
}

.grid {
    padding: 0;
    margin: 0 auto;
    background-color: var(--text-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.history p {
    padding: 0 2rem;
}

.history img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.adventure img {
    width: 100%;
    height: 100%;
    padding: 1rem 4rem 0;
}

.adventure figure {
    margin-bottom: 80px;
}

.adventure figcaption {
    text-align: center;
    padding: 0;
    margin: 10px auto 0;
}

.contact {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 20px;
}

.map iframe {
    width: 100%;
    object-fit: cover;
}

.information form {
    display: flex;
    flex-direction: column;
    padding-right: 25%;
    color: #000;
}

.name {
    display: grid;
    grid-template-columns: 100px 1fr;
    row-gap: 10px;
    flex: 0.5;
}

.name label {
    align-self: center;
}

.name input {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding-left: 7px;
}

.more {
    text-align: center;
    border: 2px solid var(--border-color);
    background-color: #eff6e2;
    padding-bottom: 50px;
}

.more h2 {
    padding: 10px;
}

.purpose {
    display: grid;
    grid-template-columns: 100px 1fr;
    flex: 0.75;
    align-items: center;
}

.purpose p {
    margin: 0;
}

.radio-group {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: start;
    row-gap: 10px;
}

.radio-group input[type="radio"] {
    appearance: none;
    border: 2px solid #000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.radio-group input[type="radio"]:checked {
    background-color: #000;
    box-shadow: inset 0 0 0 2px #fff;
}

.message {
    flex: 1.75;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 50px 40px;
}

.message textarea {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    resize: none;
    padding: 7px;
}

.message label {
    align-self: center;
}

.message label input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    margin-right: 10px;
}

.message button {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    align-self: end;
    padding: 10px;
}

.employee_container {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    justify-items: center;
}

.employee img {
    width: 150px;
    height: 180px;
}

/*index.css*/

.home {
    position: relative;
}

.home img {
    display: block;
    width: 100%;
    height: auto;
}

.home_first {
    display: block;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: var(--accent1-color);
}

.home_first h1 {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 50px;
    color: #cffc05;
}

.home_first p {
    margin: 0 auto;
    padding: 1rem;
    font-size: 20px;
    color: #cffc05;
}

.explore {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    color: #000;
}

.choose h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2em;
}

.safety {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.safety section {
    display: block;
    text-align: center;
    margin: 20px 40px;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.safety section h3 {
    margin-top: 1rem;
}

.safety section img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.safety section p {
    padding: 30px;
    margin: 0;
}

.memorie {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
}

.memorie img {
    width: 100%;
    padding: 2px;
    border: 10px solid var(--accent3-color)
}

fieldset {
    display: grid;
    gap: 10px;
    margin: 0;
    padding: 20px;
    border: 10px solid #000;
    color: #000;
}

.sign {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.sign input {
    border: 2px solid #000;
    border-radius: 5px;
    padding-left: 10px;
}

fieldset button {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 0.75em;
}

.familly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    background-color: var(--back-color);
}

.familly p {
    margin: 0;
    padding: 0 10px 10px;
    text-align: center;
}

.additional {
    display: block;
    position: relative;
    margin: 40px 0;
    background-color: var(--accent3-color);
}

.additional img {
    width: 700px;
    height: auto;
    margin: 70px 120px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.view {
    display: block;
    position: absolute;
    text-align: center;
    width: 700px;
    top: 31%;
    right: 10%;
    padding: 20px;
    background-color: var(--back-color);
}

.view p {
    padding: 20px;
    margin: 0;
}

/*Trips page*/

.introduction {
    display: block;
    text-align: center;
    border: 1px solid #000;
    width: 800px;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.rafting-trips {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rafting-trip {
    display: block;
    text-align: center;
    margin: 40px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.rafting-trip img {
    width: 200px;
    height: auto;
}

.equipments {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.equipment {
    display: block;
    text-align: center;
    margin: 40px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.equipment img {
    width: 200px;
    height: auto;
}

.bring {
    display: grid;
    padding: 20px;
    background-color: var(--back-color);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
    margin: 20px;
}

.call {
    display: block;
    margin: 100px;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: var(--back-color);
}

.call p {
    padding: 20px;
}

.book {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    color: #000;
}